# Dependencies
node_modules/
bower_components/
npm-debug.*
yarn-debug.*
yarn-error.*

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native builds and artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

# Android
android/
!android/.gitkeep
*.keystore
!debug.keystore
*.hprof

# iOS
ios/
!ios/.gitkeep
*.dSYM.zip
*.dSYM
Pods/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/

# Metro
.metro-health-check*
.metro-cache/

# Debug
.pnp.*
.pnp.js

# Environment variables
.env
.env*.local

# Build outputs
build/
dist/

# Testing
coverage/
jest/

# Logs
*.log
*.tmp
*.temp

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.pem

# Ruby (for iOS native tooling)
.bundle/
